* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f2f2f2;
}

.hidden {
  display: none;
}
.active {
  display: flex;
}
a {
  text-decoration: none;
  color: #f2f2f2;
}

a:hover {
  color: #117da8;
  transition: all 0.2s ease-in-out;
}

.main {
  background-color: rgba(17, 17, 17, 0.95);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.ani_element {
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ani_element-fade {
  animation-name: fade;
}

.container {
  position: relative;
  height: 900px;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}
.align-items-center {
  justify-content: center;
}
.align-items-fstart {
  align-items: flex-start;
}

.page-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-head i {
  cursor: pointer;
  font-size: 3rem;
}

.home-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.home-text {
  margin: 2rem auto 1rem auto;
}

.home-title {
  letter-spacing: 4px;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}

.home-description {
  letter-spacing: 4px;
  line-height: 3rem;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

.social-links {
  display: flex;
  font-size: 3.5rem;
  width: 40%;
  justify-content: space-between;
  margin: 2rem auto;
}
.social-links i:hover {
  color: #117da8;
  border-radius: 50%;
}

.buttons {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

button {
  width: 220px;
  height: 60px;
  border-radius: 1rem;
  border: #f2f2f2 solid 3px;
  background-color: transparent;
  display: flex;
  align-items: center;
}

button:hover {
  transition: all 0.5s ease-in-out;
  border: #117da8 solid 3px;
  background-color: #117da8;
  transition: ease 0.2s;
  box-shadow: 0px 0px 20px 2px rgba(17, 125, 168, 0.6);
}

button .btn {
  font-size: 1.3rem;
  letter-spacing: 1px;
  display: inline-block;
  width: 100%;
  line-height: 60px;
  text-align: center;
  font-weight: 600;
}
button .btn:hover {
  color: #f2f2f2;
  cursor: pointer;
}

/* about page */
.hide-scroll {
  overflow: hidden;
}
.wrapper {
  overflow-y: scroll;
  position: absolute;
  height: 700px;
  width: 100%;
  bottom: 0;
}

.section-title {
  font-size: 4rem;
  margin: 1rem 0;
  text-align: left;
}

hr {
  color: #f2f2f2;
  width: 100%;
}

.about-card {
  margin: 3rem 0;
  display: flex;
  align-items: flex-start;
  height: 8rem;
}

.about-card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.about-card-icon i {
  font-size: 2.2rem;
}

.about-card-info {
  height: 100px;
  margin-left: 2rem;
}
.about-card-info h3 {
  font-size: 1.5rem;
}

.about-card-info p {
  font-size: 1.2rem;
  width: 80%;
  margin-top: 0.5rem;
}

/* portfolio section */

.portfolio-card {
  margin: 3rem 0;
  display: flex;
  height: 300px;
  width: 100%;
}
.portfolio-image {
  width: 450px;
  height: 300px;
}

.portfolio-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-info {
  width: 450px;
  margin-left: 2rem;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio-info .buttons {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.portfolio-info button {
  width: auto;
  height: 50px;
}

.portfolio-info button .btn {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  padding: 0 1rem;
}

.portfolio-info h3 {
  font-size: 2rem;
  line-height: 2rem;
}

.portfolio-info p {
  font-size: 1.4rem;
  font-weight: 300;
  width: 100%;
}

/*---------------------------------------------------------------
RESPONSIVE--------------------------------------------------------*/

@media (min-width: 340px) {
  .main {
    align-items: flex-start;
  }
  .container {
    margin-top: 5rem;
    justify-content: flex-start;
  }
  .home-pic {
    width: 150px;
  }
  .home-title {
    font-size: 2.5rem;
    letter-spacing: normal;
  }
  .home-description {
    margin-top: 1rem;
    font-size: 1.4rem;
    line-height: normal;
  }

  .social-links {
    margin: 0 auto;
    max-width: 25%;
  }
  .social-links i {
    font-size: 2rem;
  }
  #home .buttons {
    margin: 1.5rem auto;
    width: 35%;
  }
  #home .buttons button {
    width: auto;
    height: 50px;
  }

  #home .buttons .btn {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    padding: 0 1rem;
  }

  /* about section mobile */

  #about .container .wrapper,
  #portfolio .container .wrapper {
    top: 50%;
    transform: translateY(-50%);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
  }

  #about .container,
  #portfolio .container {
    margin-top: 1.5rem;
    width: 100vw;
  }
  #about .container .wrapper .about-card {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    text-align: center;
  }

  .about-card-info {
    padding-bottom: 2rem;
    border-bottom: #f2f2f2 solid 1px;
    height: auto;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-head {
    justify-content: space-around;
  }
  .page-head i {
    font-size: 2rem;
  }
  .section-title {
    font-size: 2.5rem;
    margin: 0;
  }
  hr {
    width: 100%;
    margin: 1rem auto;
  }
  /* portfolio section */

  .portfolio-card {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .portfolio-info h3 {
    margin: 0.7rem 0;
    font-size: 1.3rem;
  }
  .portfolio-info p {
    font-size: 1rem;
    max-width: 70%;
  }
  .portfolio-info strong {
    margin: 1rem 0;
  }
  .portfolio-info {
    margin-top: 1rem;
  }
  .portfolio-image {
    width: 100%;
    height: auto;
  }
  .portfolio-image img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) {
  .home-title {
    font-size: 4rem;
  }
  .home-description {
    font-size: 2rem;
  }
  .social-links i {
    font-size: 3rem;
  }
  #about .wrapper {
    margin-top: 3rem;
  }
  .page-head {
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
  }
  .section-title {
    font-size: 3rem;
  }

  #portfolio .container {
    width: 100vw;
  }

  #portfolio .container .wrapper {
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .portfolio-card {
    flex-direction: row;
    justify-content: space-between;
    max-height: 400px;
    width: 90%;
    margin: 2rem auto;
  }

  .portfolio-image img {
    width: 100%;
    height: 100%;
  }
  .portfolio-image {
    max-height: 400px;
    width: 50%;
  }
  .portfolio-info {
    height: auto;
    width: 50%;
    margin-top: 0;
  }
  .portfolio-info h3 {
    font-size: 1.8rem;
    margin-top: 0;
  }
  .portfolio-info p {
    font-size: 1.4rem;
    min-width: 100%;
  }
  .about-card-info {
    border: none;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    width: 70%;
  }

  .about-card-info h3 {
    font-size: 1.7rem;
  }
  .about-card-info p {
    font-weight: 300;
    font-size: 1.4rem;
    min-width: 100%;
  }

  #about .container .wrapper .about-card {
    margin: 0 auto;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
  }
  .about-card-icon {
    width: 130px;
    height: 130px;
  }
  .about-card-icon i {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  .home-pic {
    height: 200px;
    width: auto;
  }
  .home-title {
    font-size: 5rem;
  }
  .home-description {
    font-size: 3rem;
  }
  .social-links {
    max-width: 100%;
    justify-content: space-between;
  }
  .social-links i {
    font-size: 4rem;
  }
  #home .container .buttons {
    min-width: 60%;
  }
  #home .container .buttons button {
    width: 200px;
    height: 60px;
  }
  .portfolio-card {
    width: 100%;
  }
  .wrapper {
    max-width: 100%;
  }
  .container {
    max-width: 900px;
  }
  .page-head {
    width: 100%;
  }
  #about .container .wrapper .about-card {
    min-width: 100%;
  }
  #about .container .wrapper {
    overflow-y: hidden;
  }
  .about-card-icon {
    width: 130px;
    height: 130px;
  }
  .about-card-info {
    margin-right: 0;
    width: 80%;
  }
  .about-card-info h3 {
    font-size: 2rem;
  }
  .about-card-info p {
    font-size: 1.6rem;
  }
}
