:root {
  --dark-blue: #031e38;
  --light-blue: #3480bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  color: var(--dark-blue);
}

a {
  text-decoration: none;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

section {
  animation: fade-in 2s;
  -moz-animation: fade-in 2s;
}

.hero-section {
  background-image: url(images/bg-image.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.image-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: relative;
}
.navbar {
  z-index: 7;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  transition: top 0.3s;
}

.nav-logo img {
  height: 45px;
  margin: 2rem;
}
.nav-list {
  margin: 0 2rem;
}
.nav-list ul {
  display: flex;
}

.nav-list li {
  list-style: none;
  padding: 1rem;
}

.nav-list a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  font-size: 1.125rem;
  text-transform: uppercase;
}
/* Navbar toggle */

.navbar-toggler {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2rem;
  width: 80px;
  height: 37px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.navbar-toggle {
  width: 50px;
  height: 5px;
  background: #fff;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}

.navbar-toggle::before,
.navbar-toggle::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  background: #fff;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}

.navbar-toggle::before {
  transform: translateY(-16px);
}

.navbar-toggle::after {
  transform: translateY(16px);
}

.navbar-toggler.open .navbar-toggle {
  transform: translateX(-50px);
  background: transparent;
}

.navbar-toggler.open .navbar-toggle::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.navbar-toggler.open .navbar-toggle::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.hero-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-text h1 {
  color: #fff;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 90px;
}

.hero-text h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  line-height: 70px;
}

.hero-btn {
  width: 200px;
  height: 60px;
  margin: 3rem auto;
  border-radius: 5rem;
  border: 2px solid #fff;
  display: grid;
  place-items: center;
}

.hero-btn:hover {
  border: 2px solid rgb(179, 179, 179);
}

.hero-btn a {
  padding: 0.5rem 2rem;
  color: #fff;
  font-size: 1.25rem;
  line-height: 30px;
}
.hero-btn:hover a {
  color: rgb(179, 179, 179);
}

.page-section {
  position: relative;
  max-width: 1200px;
  margin: 0 auto 10rem auto;
}

.page-title {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
}

.page-title h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  line-height: 70px;
  color: var(--dark-blue);
}

.page-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

.page-text {
  border-radius: 40px;
  width: 650px;
  height: 605px;
  -webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.1);
}

.page-text p {
  padding: 2rem 1.5rem;
  font-size: 1.25rem;
  line-height: 30px;
  color: var(--dark-blue);
}

.page-section img {
  -webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.2);
  height: 650px;
  width: 500px;
  border-radius: 70px;
}

footer {
  width: 100%;
  height: 150px;
  background-color: rgb(49, 49, 49);
  display: grid;
  place-items: center;
}
.footer-content {
  height: 70%;
  width: 100%;
  text-align: center;
}

.footer-content p {
  color: #fff;
  font-weight: 600;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media all and (max-width: 768px) {
  .nav-logo img {
    height: 25px;
  }
  .navbar-toggler {
    margin: 2rem 1rem;
    display: flex;
    z-index: 12;
    height: calc(37px / 2);
  }

  .navbar-toggle,
  .navbar-toggle::after,
  .navbar-toggle::before {
    width: 40px;
    height: calc(5px / 2);
  }

  .navbar-toggle::after {
    transform: translatey(12px);
  }

  .navbar-toggle::before {
    transform: translatey(-12px);
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-list {
    transition: all ease 0.2s;
    display: none;
    width: 100%;
    z-index: 10;
    margin: 0;
  }
  .nav-list.active {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: fade-in 1s;
    height: 100vh;
    overflow: scroll;
  }

  .navbar ul {
    flex-direction: column;
    background: var(--dark-blue);
    width: 100%;
    height: 100vh;
  }
  .navbar li {
    text-align: center;
  }

  .navbar a {
    font-size: 1.5rem;
  }
  .hero-content {
    width: 90%;
  }

  .hero-text h1 {
    font-size: 3rem;
    line-height: 60px;
  }

  .hero-text h2 {
    margin: 3rem;
    font-size: 2rem;
    line-height: 40px;
  }
  .hero-btn {
    margin: 0 auto;
  }

  .page-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .page-title {
    padding: 2rem 0;
  }

  .page-title h1 {
    font-size: 2.5rem;
  }

  .page-content {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .page-content img {
    width: 100%;
    height: 50%;
    border-radius: 15px;
  }

  .page-text {
    margin: 3rem auto;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 15px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .nav-logo img {
    height: 30px;
  }
  .navbar-toggler {
    z-index: 13;
    display: flex;
  }
  .nav-list {
    display: none;
    right: -500px;
    animation: fade-in 1s;
    -moz-animation: fade-in 1s;
  }
  .nav-list.active {
    margin: 0;
    width: 400px;
    z-index: 12;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }
  .nav-list ul {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .nav-list a {
    font-size: 1.125rem;
  }

  .page-section {
    margin-bottom: 4rem;
  }

  .page-content img {
    width: 45%;
    height: 45%;
  }

  .page-text {
    height: auto;
    width: 50%;
  }
  .page-text p {
    font-size: 1.125rem;
  }
}
