@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --blue: #03658c;
  --gray: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}
*::-webkit-scrollbar {
  width: 0.4vw;
}

*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #cccccc;
}

a {
  text-decoration: none;
  color: var(--gray);
}

.blink {
  animation: blinker 2s linear infinite;
  -moz-animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* HEADER SECTION START */

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 15px 11px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 15px 11px 0px rgba(0, 0, 0, 0.09);
  transition: ease all 0.3s;
}

header {
  z-index: 10;
  background-color: #fff;
  height: 120px;
  width: 100%;
  border-bottom: solid 1px #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out all 0.3s;
}

header nav {
  width: 1200px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .logo img {
  height: 60px;
  width: auto;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline;
  padding-left: 4rem;
}

header nav ul li a {
  color: var(--gray);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
}

header nav ul li a:hover,
header nav ul li a.active {
  color: var(--blue);
}

.navbar-toggler {
  position: relative;
  width: 40px;
  height: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-right: 1rem;
  display: none;
}

.navbar-toggle {
  width: 40px;
  height: 3px;
  background: #242424;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}
.navbar-toggle::before,
.navbar-toggle::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background: #242424;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}
.navbar-toggle::before {
  transform: translateY(-13px);
}

.navbar-toggle::after {
  transform: translateY(13px);
}

.navbar-toggler.open .navbar-toggle {
  transform: translateX(-50px);
  background: transparent;
}

.navbar-toggler.open .navbar-toggle::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.navbar-toggler.open .navbar-toggle::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* HEADER SECTION END */
.form-wrapper,
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
}
.form-wrapper {
  margin-top: 4rem;
  -webkit-box-shadow: 0px 15px 11px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}

form {
  align-items: flex-start;
  width: 500px;
}

.form-wrapper h1 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 70px;
  color: #242424;
  padding: 2rem;
}

.form-wrapper p {
  font-size: 1.25rem;
  line-height: 32px;
  color: #444;
  padding: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-group label {
  font-size: 1.5rem;
  line-height: 35px;
  padding: 0.5rem 0;
  color: #242424;
}

.form-group input,
textarea {
  color: #242424;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  background-color: #f0f0f0;
  height: 35px;
  width: 100%;
  resize: none;
}

textarea {
  height: 200px;
}

.btn {
  cursor: pointer;
  background-color: var(--blue);
  width: 250px;
  height: 50px;
  border-radius: 5rem;
  display: grid;
  transition: ease-in-out 0.2s;
  place-items: center;
  margin: 1rem 0;
}

.btn:hover {
  background-color: #0091ca;
  transition: ease-in-out 0.2s;
}

.btn a {
  color: #fff;
  font-size: 1.125rem;
}

/* FOOTER SECTION START */

footer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #242424;
}

.footer-content {
  text-align: center;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content p,
footer nav a,
.social-links i {
  padding: 0 1rem;
  color: #f2f2f2;
}

.social-links i {
  font-size: 1.25rem;
}

footer nav a:hover,
.social-links i:hover {
  color: #808080;
}

/* FOOTER SECTION END */
@media screen and (max-width: 768px) {
  nav {
    padding: 0 1rem;
  }
  header nav ul {
    z-index: 50;
    width: 100%;
    height: calc(100vh - 120px);
    background-color: #fff;
    position: fixed;
    bottom: 0;
    right: -400px;
    display: block;
    transition: ease-in 0.3s all;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
  }
  header nav ul.open {
    right: 0;
  }

  header nav ul li {
    padding: 3rem 0;
    margin: 0;
  }

  header nav ul li a {
    font-size: 1.5rem;
    text-align: center;
  }

  .navbar-toggler {
    display: flex;
  }

  .form-wrapper {
    width: 90%;
  }

  .form-wrapper h1,
  .form-wrapper p {
    text-align: center;
  }

  .form-wrapper p {
    font-size: 1.125rem;
    line-height: 21px;
  }

  .form-wrapper h1 {
    font-size: 2.75rem;
    padding: 0 1rem;
    margin-top: 0.5rem;
  }

  form {
    margin: 0;
    width: 100%;
    align-items: center;
  }
  .form-group {
    align-items: center;
  }
  .form-group input,
  textarea {
    width: 90%;
  }

  .footer-content {
    height: 75%;
  }

  .footer-content nav {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-content nav a {
    padding: 0.5rem 0;
  }
}
