:root {
    --bg-color: #292933;
    --text-color: #fefefe;
    --accent-color: #50e3c2;
    --form-color: #4d505f;
    --p-color: #959595;
}

@media all and (max-width:767px) {
    .scroll-lock {
        overflow: hidden;
      }

    section {
        overflow-x: hidden !important;
    }

    p {
        font-size: 1rem !important;
        padding: 1rem 0;
        padding: 0 .5rem;
    }
    .container {
        width: 100%;
    }
    .navbar-toggler {
        display: block;
    }
    .navbar {
        overflow-x: hidden;
    }
    .navbar-list {
        width: 100%;
        z-index: 9;
        min-height: fit-content;
        background-color: var(--bg-color);
        position: absolute;
        top: -820px;
        left: 0;
        transition: ease-in 0.3s all;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
      }
      .navbar-list.open {
        top: 120px;
        display: flex;
        opacity: 1;
      }

      .navbar-item {
        padding: 2rem 0;
      }

      .navbar-link {
        font-size: 1.5rem;
      }

      .desktop-form {
        display: none;
    }
    
    .navbar-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .mobile-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .navbar-form-input,.navbar-form-btn {
        margin: 8px 0;
        width: 100%;
    }

    .forgot-pass {
        text-align: center;
    }
    
    .navbar-logo img{
        max-width: 180px;
    }
    .main-section-content {
        text-align: center;
        padding: 1rem 0;
        margin-top: 0;
        width: 100%;
    }

    .main-section-heading {
        margin: 0;
        padding: 0;
    }

    .main-heading {
        font-size: 2.5rem;
        line-height: 56px;
    }

    .main-sign-up {
        font-size: 1.5rem;
        line-height: 72px;
        position: relative;
    }

    .main-text  {
        font-size: 1rem;
        padding: 1rem .5rem;
    }

    .bg-image-wrapper {
        margin: 0 auto;
        width: 100%;
        top: 0;
        left: 0%;
        overflow-x: hidden !important;
        min-height: 100%;
    }

    .bg-image {
        min-width: 200%;
    }

    .section-title h1 {
        font-size: 2rem !important;
    }

    .data-gif-img {
        max-width: 100%;
        padding: 1.5rem 0;
    }
    .data-gif-img img {
        width: 100%;
    }
    .data-wrapper {
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        padding-bottom: 2rem;
    }

    .data-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
    .data-features {
        flex-direction: column;
        text-align: center;
    }
    .data-feature-img img {
        width: 80%;
    }

    .data-list-wrapper {
        padding: 1rem 0;
    }
    .features-section-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .features-text, .features-images {
        min-width: 90%;
    }


    .features-list {
        padding: 1rem 0;
    }
    .our-partners-wrapper {
        margin: 0 auto;
        min-width: 100%;
        min-height: 100px;
        display: flex;
        flex-direction: column;
    }
    .our-partners-row {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
    }

    .img-wrapper {
        margin: 32px;
    }

    .partners-img {
        max-width: 50px;
    }
    .help-section-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin: 0 auto;
        width: 100%;
    }

    .help-card {
        border-radius: 0;
        padding: 0;
        justify-content:center;
        align-items: center;
    }

    .help-card:hover .card-image {
        transform: translateY(-8px);
    }

    .card-image img {
        width: 25px;
    }

    .help-card .card-text h2 {
        font-size: 1rem;
        padding: .5rem 2rem;
    }

    .partner-card {
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }

    .help-section .container {
        width: 100%;
    }

    .subscription-form {
        padding: 0;
        width: 80%;
        margin: 1rem 0;
    }
    .subscribe-mail, .subscribe-btn {
        font-size: 1rem;
        padding: .5rem;
    }
}

@media all and (min-width:579px) and (max-width:767.9px) {
    .data-items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
}

@media all and (min-width:768px) and (max-width:1216.9px)  {
    .navbar{
        width: 100%;
        padding: 1rem;
        margin: 0 !important;
        align-items: center;
    }

    .navbar-logo img {
        max-width: 180px;
      }
    .navbar-link {
        font-size: 1rem;
    }

    .desktop-form {
        align-items: center;
    }

    .navbar-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-form-btn, .navbar-form-input {
        width: 80%;
        margin: 4px 0;
        font-size: .875rem;
    }

    .main-section-content, .keyboard-text {
        padding: 0 1rem;
    }
    
    .main-heading {
        font-size: 3rem;
        line-height: 64px;
    }

    .main-sign-up {
        font-size: 2rem;
    }

    .main-text {
        font-size: 1.5rem;
    }

    .data-item {
        width: 80px;
    }

    .data-item i {
        font-size: 1.125rem;
        line-height: 28px;
    }

    .data-item img {
        width: 28px !important;
    }

    .data-item h6 {
        font-size: .875rem;
    }
    .data-gif-img,.data-feature-img,.data-feature-text {
        width: 50%;
    }
    .data-gif-img img,.data-feature-img img {
        width: 100%;
    }

    .data-wrapper, .data-features {
        padding: 2rem 1rem 6rem 1rem;
    }
    .features-section-content {
        padding: 0 1rem;
    }
    .our-partners-row {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    .help-card {
        padding: 1rem;
        justify-content: space-around;
    }
    .help-card .card-text h2 {
        font-size: 1.5rem;
    }
}

@media all and (min-width:1216px) and (max-width:1520px) {
    .navbar {
        width: 100%;
        margin: 0;
    }
}