:root {
  --red: #db2027;
  --dark-red: #db2026da;
  --menu-red: #ad141a;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-c-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* HEADER SECTION START */

header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 120px;
}

.brg-menu-icon {
  cursor: pointer;
  width: 55px;
  height: 55px;
  background-color: var(--red);
}

select {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--red);
  text-transform: uppercase;
  font-size: 1rem;
}

/* HEADER SECTION END */

/* ----------------------------------------------------- */

/* MENU SECTION START */

.brg-menu {
  z-index: 100;
  position: relative;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 434px;
  height: 100%;
  background-color: var(--red);
  left: -434px;
}

.brg-menu.active {
  left: 0;
}

.brg-menu-toggler {
  width: 55px;
  height: 55px;
  cursor: pointer;
  position: absolute;
  display: grid;
  place-items: center;
  top: 3.5%;
  left: 11%;
}

.brg-menu-logo {
  width: 147px;
  height: 44px;
}

.brg-menu-nav {
  width: 100%;
  text-align: center;
}

.brg-menu-list {
  list-style-type: none;
  display: inline-block;
}

.brg-menu-item {
  padding: 1rem;
  margin: 2rem 0;
}

.brg-menu-link {
  position: relative;
  font-size: 3.75rem;
  line-height: 70px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
}

.brg-menu-item:hover .brg-menu-link::after {
  content: "";
  height: 5px;
  width: 85%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.brg-menu-item:hover .brg-menu-link.active::after {
  content: "";
  height: 5px;
  width: 85%;
  background-color: var(--menu-red);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.brg-menu-link.active {
  color: var(--menu-red);
}

.brg-menu .brg-social-links i {
  color: #fff;
  font-size: 1.375rem;
  padding: 1rem;
}

.brg-menu .brg-social-links i:hover {
  color: var(--menu-red);
}

/* MENU SECTION END */

/* ----------------------------------------------------- */

/* ----------------------------------------------------- */

/* HERO IMAGE START */
.brg-hero-img {
  position: relative;
  background-image: url(../images/event-listing-hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
  width: 100%;
  justify-content: flex-start;
}

.brg-hero-img h1 {
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
  font-weight: 800;
  font-size: 3.75rem;
  text-transform: uppercase;
  color: #fff;
  line-height: 70px;
}
/* HERO IMAGE END */

/* ----------------------------------------------------- */

/* PAGE CONTENT START */

.brg-page-content {
  width: 1200px;
  margin: 0 auto;
}
.brg-title-wrapper {
  position: relative;
  width: 100%;
  height: 14rem;
}

.brg-text-behind {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}
.brg-text-behind h1 {
  line-height: 140px;
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 800;
  color: rgba(153, 153, 153, 0.09);
}

.brg-page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.brg-page-title h1 {
  font-size: 3.75rem;
  font-weight: 800;
  color: #000;
  line-height: 70px;
}

.brg-page-title h3 {
  color: #999;
  font: 800;
  font-size: 1.25rem;
  line-height: 24px;
}

.brg-event-wrapper {
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
}

.brg-card-row {
  margin-top: 4rem;
  width: 100%;
}

.brg-event-single {
  width: 580px;
  height: 400px;
  position: relative;
}

.brg-btn-white {
  position: absolute;
  bottom: 30px;
  left: 40px;
  height: 70px;
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  z-index: 11;
}

.brg-btn-white::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  left: 20px;
  transform: skew(20deg);
  z-index: -1;
}

.brg-btn-white a {
  color: var(--red);
  padding: 0.5rem 2rem;
  line-height: 18px;
  font-size: 1rem;
  font-weight: 800;
}

.brg-btn-white span {
  padding: 0.5rem 2rem;
  font-size: 0.875rem;
  color: #c4c4c4;
  line-height: 18px;
  font-size: 800;
}

.brg-btn {
  cursor: pointer;
  width: 130px;
  height: 50px;
  background-color: var(--red);
  margin: 4rem auto;
  display: grid;
  place-items: center;
}

.brg-btn a {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
}

.brg-btn:hover {
  background-color: var(--menu-red);
}
/* PAGE CONTENT END */

/* ----------------------------------------------------- */

/* FOOTER SECTION START */

footer {
  line-height: 24px;
  margin-top: 2rem;
  width: 100%;
  height: 145px;
  background-color: #000;
}

.brg-footer-content {
  flex-direction: column;
}

.brg-footer-content p {
  color: var(--red);
  font-weight: 600;
}

.brg-footer-content nav {
  margin-block: 1rem;
}

.brg-footer-content nav a {
  font-size: 0.875rem;
  padding-inline: 1rem;
  color: #999;
}

.brg-footer-content nav a:hover {
  color: #777;
}

.brg-footer-content .brg-social-links i {
  color: #fff;
  font-size: 1.375rem;
  padding: 1rem;
}

.brg-footer-content .brg-social-links i:hover {
  color: #777;
}
/* FOOTER SECTION END */

/* ----------------------------------------------------- */
