@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;600&display=swap');

:root {
  --gray: rgb(56, 56, 56);
  --light-blue: #01B1AF;
  --overlay-color: rgba(3,212,190.5);
  --sky-blue: rgb(62, 122, 251);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif;
}

#overlay.active {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  opacity: .5;
}

body {
  position: relative;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
}

header a .logo {
  width: 100px;
  height: auto;
}

.logo-wrapper {
  display: grid;
  place-content: center;
  width: 100px;
  height: 100%;
}
.social-links {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.social-links i {
  font-size: 1.5rem;
  margin: 0 1rem;
}

.social-links a {
  color: black;
}
.toggle-btn,
.close-btn {
  cursor: pointer;
}
.toggle-btn span,
.close-btn span {
  background-color: black;
  width: 40px;
  height: 6px;
  display: block;
  margin-top: 6px;
  border-radius: 1rem;
}

.home-image {
  position: relative;
  width: 100%; 
  overflow: hidden;
}
.home-image img {
  width: 100%;
  height: 100%;
  transform: scale(1.4);
}

.home-image h1 {
  line-height: 2.6rem;
  color:#fff;
  font-weight: 600;
  font-size: 2.4rem;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

.home-img-overlay {
  background-color: rgb(59, 55, 55);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}
#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: white;
  transition: ease-in-out .3s;
}

#sidebar.active {
  right: 0;
}

#sidebar ul li {
  padding: 1rem 0;
  list-style: none;
  font-size: 1.4rem;
}

#sidebar ul li a {
  text-transform: capitalize;
  color: var(--gray);
}
#sidebar ul li a:hover {
  color: var(--sky-blue); 
}

#sidebar ul li a.active {
  color: var(--light-blue);
}

.sidebar-img {
  width: 200px;
  height: auto;
}

.close-btn span {
  transform: rotate(135deg);
}

.close-btn span + span {
  margin-top: -6px;
  transform: rotate(45deg);
}

/* ------------- About page -------------  */
.about-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.about-content img {
  height: 100%;
  width: auto;
}

.about-text {
  padding: 1rem 0 1rem 2rem;
}

.about-text h1 {
  color: var(--overlay-color);
}

.about-text p {
  line-height: 1.5rem;
  font-weight: 300;
  padding-top: 2rem;
  font-size: .8rem;
}
/* ------------- Q&A page -------------  */
hr {
  border: none;
  height: 1px;
  background-color: rgb(216, 216, 216);
}
summary {
  position: relative;
  padding: 2rem 0;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
}
.q-a-content p {
  color: var(--sky-blue);
  font-size: .8rem;
}
details > summary::after {
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  content: ">";
  transform: rotate(90deg) scaleX(.5);
  right: 20px;
}

details[open] > summary::after {
  position: absolute;
  content: ">";

  transform: rotate(270deg) scaleX(.5);
  right: 20px;
}
details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details[open] summary ~ * {
  animation: sweep .2s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0; margin-top: -10px}
  100%  {opacity: 1; margin-top: 0px}
}

details .social-links {
  display: flex;
  margin: 1rem auto;
  align-items: center;
  justify-content: flex-start;
}

details .social-links a i {
  font-size: 1rem;
}
details .social-links a i:hover {
  color: var(--gray);
}

.q-a-title {
  padding: 1rem 0;
}

.q-a-content a {
  color: rgba(254,120,59,1);
}
.q-a-content a:hover {
  color: var(--sky-blue);
}
.q-a-title h1{
  font-weight: 400;
  color: var(--overlay-color);
  font-size: 1.5rem;
}
.q-a-title h3{
  font-weight: 300;
  color: var(--light-blue);
  font-size: 1rem;
  margin-top: .5rem;
}

/* ------------- Contact page -------------  */

.contact-content {
  margin-top: 5rem;
}

.contact-content h1 {
  color: var(--overlay-color);
  font-size: 1.6rem;
}

.contact-info  {
  margin-top: 2rem;
  line-height: 1.5rem;
}
.contact-info p {
  font-weight: 300;
  color: var(--gray);
}

.contact-info a {
  color: var(--light-blue);
}
/* ------------- Media queries -------------  */

@media only screen and (max-width: 1367.5px) {
  .container {
    width: 70%;
  }
} 
@media only screen and (max-width: 1023.5px) {
  .container {
    width: 90%;
  }

  .about-content {
    margin-top: 2rem;
    align-items: center;
  }
}

@media only screen and (max-width: 768.5px) {
  .container {
    width: 100%;
  } 

  header {
    width: 90%;
    margin: 1rem auto;
    flex-wrap: wrap;
  }

 header .toggle-btn {
   order: 4
 }
  
  header .social-links {
    padding-bottom: 2rem;
    width: 100%;
    order: 5;
  }

  #sidebar img {
    width:125px;

  }

  .home-image {
    margin: 4rem auto;
  }
  
  .home-image h1 {
    top: 0;
    padding: 0 1rem;
    transform: translateY(40%);
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  .about-content {
    margin-top: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-content img  {
    width: 80vw;
  }
  .about-text {
    width: 80%;
    padding: 0;
  }

  .about-text h1 {
    padding-top: 2rem;
  }

  .q-a-wrapper, .q-a-title {
    width: 90%;
    margin: 0 auto;
  }

  .q-a-title {
    padding-top: 4rem;
  }

  summary, .q-a-content {
    margin:  0 auto;
    width: 80%;
  }

  details .social-links {
    margin-left: 1rem;
  }
  
  details > summary::after {
    right: 0px;
  }
  details[open] > summary::after {
    right: 0px;
  }

  .contact-content {
    width: 80%;
    margin: 4rem auto;
  }
}

@media only screen and (min-width: 570px) {
  .home-image h1{
    line-height: 2.5rem;
    font-size: 2rem;
  }
}